<!-- views/index.erb -->
<% if @assets.any? %>
  <h2> </h2>
  <p> This is where the films go:</p>
  <div class="video-container">
    <% @assets.each do |asset| %>
    <div class="video_asset">
      <script src="https://cdn.jsdelivr.net/npm/@mux/mux-player"></script>
        <mux-player
            playback-id= <%= asset.playback_id%>
            metadata-video-title="Placeholder (optional)"
            metadata-viewer-user-id="Placeholder (optional)"
            primary-color="#d38a8a"
            accent-color="#d38a8a"
        ></mux-player>

        <div class="asset_info">
          <div class="asset_title">
          <b>Title:</b> <%= asset.title%>
          </div>
          <div class="asset_description">
          <b>Description:</b> <%= asset.description%>
          </div>
          <div class="asset_year">
          <b>Year:</b> <%= asset.year%>
          </div>
          <div class="asset_notes">
          <b>Notes:</b> <%= asset.notes%>
          </div>
          <div class="divider"></div>
          <div><b>The playback ID is:</b> <%= asset.playback_id%> </div>
          <div><b> The asset ID is:</b> <%= asset.asset_id%> </div>
          <div><b>The database ID is:</b> <%= asset.database_id%> </div>
        </div>
       <!-- Form for deleting the asset -->
        <form action="/assets/<%= asset.asset_id %>" method="POST" class="delete-form">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit">Delete</button>
        </form>
    </div>
    <% end %>
<% else %>
  <p>No films available at the moment...</p>
<% end %>
</div>
