<!-- views/layout.erb -->
<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.skypack.dev/@hotwired/turbo" type="module"></script>
    <meta charset="UTF-8">
    <%# <meta name="viewport" content="width=device-width, initial-scale=1.0"> %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Status 200</title>

    <style>

      mux-player::part(center play button) {
          /* display: none; */
      }
      mux-player {
        aspect-ratio: 16 / 9;
        --controls: none;
      }

      @media (max-width: 600px) {
        mux-player {
        --seek-backward-button: block;
        --seek-forward-button: block;
        --cast-button: unset;
        }
      }
      /* --media-object-fit: cover;
      /* --controls-backdrop-color: rgb(0 0 0 / 60%); */
      /* --media-object-position: center; */

    </style>
  </head>
  <body>

    <header>
      <div class="brand-title">
        <a href="/selection" style="text-decoration: none;">
          <h1 data-value="STATUS 200">STATUS 200</h1>
        </a>
      </div>

      <%# TODO: Should only visible for admin %>

      <% if admin_logged_in? %>
        <div class="admin-nav">
          <a href="/admin"> Admin page</a>
          <a href="/"> Assets listed </a>
          <a href="/logout"> Logout </a>
        </div>
      <% end %>

      <%= partial :"partials/index_panel/navigation_tool"%>

    </header>

    <div class="client-data" data-session-id="<%= @sesh %>"></div>

    <button id="dark-mode-toggle"> Dark Mode</button>

    <script src="/javascript/darkmode-toggle.js"></script>
    <script src="/javascript/branding_glitch.js"></script>
    <%# TODO: move this script to selected pages only %>
    <script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
    <script src="/javascript/suggest_film-form.js"></script>
    <script src="/javascript/view_type_detection.js"></script>


  <div class="flash-container">

    <% flash.keys.each do |type| %>
      <div data-alert class="flash <%= type %> alert-box radius">
        <%= flash[type] %>
      </div>
    <% end %>
  </div>

<%# <div id="loading-indicator" style="display: none;">
  Loading...
</div> %>

  <main>
    <%= yield %>
  </main>

  </body>
  <footer>
  </footer>
</html>