
<div class="asset_title"><b>Title:</b> <%= asset.title%> </div>
<div class="asset_director"><b>Director:</b> <%= asset.directors%> </div>
<div class="asset_description"><b>Description:</b> <%= asset.description%> </div>
<div class="asset_year"><b>Year:</b> <%= asset.year%> </div>
<div class="asset_notes"> <b>Notes:</b> <%= asset.notes%> </div>

<div class="divider"></div>
