<div class="thumbnail-position">
  <label for="hour">Hour:</label>
  <select id="hour" name="hour">
    <option value="">-</option>

    <% (0..23).each do |hour| %>
      <option value="<%= hour %>"><%= hour %></option>
    <% end %>
  </select>

  <label for="minute">Minute:</label>
  <select id="minute" name="minute">
    <option value="">-</option>

    <% (0..59).each do |minute| %>
      <option value="<%= minute %>"><%= minute %></option>
    <% end %>
  </select>

  <label for="second">Second:</label>
  <select id="second" name="second">
    <option value="">-</option>

    <% (0..59).each do |second| %>
      <option value="<%= second %>"><%= second %></option>
    <% end %>
  </select>
</div>