<div class="upload-entry-forms">

  <h2>Add New Asset</h3>

  <div class="upload_asset">
    <mux-uploader
      endpoint='<%= special_endpoint%>'
      ></mux-uploader>
  </div>

  <h3>Asset metadata</h3>
    <form action="/upload_asset_metadata#" method="post" enctype="multipart/form-data">

      <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br><br>

      <label for="director">Director:</label><br>
        <input type="text" id="director" name="director"><br><br>

      <label for="description">Description:</label><br>
        <textarea id="description" name="description" rows="4" cols="50"></textarea><br><br>

        <%= partial :"partials/admin_panel/year-selection"%>

        <div class="divider"></div>

        <%= partial :"partials/admin_panel/country-selection"%>

        <div class="divider"></div>

        <%= partial :"partials/admin_panel/sub-track-selection"%>

        <div class="divider"></div>

        <%= partial :"partials/admin_panel/genre-selection"%>

        <div class="divider"></div>

        <%= partial :"partials/admin_panel/thumbnail-position"%>

        <div class="divider"></div>

      <label for="notes">Notes:</label><br>
      <textarea id="notes" name="notes" rows="4" cols="50"></textarea><br><br>

      <input id="submit-button" class="button-vis" type="submit" value="Submit" disabled>

    </form>

</div>

<script src="/javascript/enable_submit-button.js"></script>




