<div class="upload-entry-forms">

  <h3>NEW VIDEO ASSET</h3>

  <p><i>
  When submitting an asset, it is advised to upload a video first
  and then work back through any attached metadata,
  as the uploaded asset may - in cases where the file is large, need time to load...
  </i></p><br>

    <form action="/upload_asset_metadata#" method="post" enctype="multipart/form-data">

        <%= partial :"partials/admin_panel/asset-metadata-elements/basic-info"%>

        <%= partial :"partials/admin_panel/asset-metadata-elements/year-selection"%>

        <div class="divider"></div>

        <%= partial :"partials/admin_panel/asset-metadata-elements/country-selection"%>

        <div class="divider"></div>

        <%= partial :"partials/admin_panel/asset-metadata-elements/sub-track-selection"%>

        <div class="divider"></div>

        <%= partial :"partials/admin_panel/asset-metadata-elements/genre-selection"%>

        <div class="divider"></div>

        <h4> Thumbnail Image Position:</h4>
        <%= partial :"partials/admin_panel/asset-metadata-elements/thumbnail-position"%>

        <div class="divider"></div>

        <%= partial :"partials/admin_panel/asset-metadata-elements/top-picks-entry"%>

        <%= partial :"partials/admin_panel/asset-metadata-elements/admin-notes-entry"%>

        <div class="upload_asset">
          <mux-uploader
            endpoint='<%= special_endpoint %>'
            ></mux-uploader>
        </div>

      <input id="submit-button" class="button-vis" type="submit" value="Submit" disabled>

    </form>

</div>

<script src="/javascript/enable_submit-button.js"></script>




