<div id="total-viewers">
  <table>
    <thead>
      <tr>
        <td><b> Total Number of Viewers:</b></td>
        <td><%= @users.count %></td>
      </tr>
    </thead>
  </table>
</div>


<table>
<button id="show-all-user-metrics">View All</button>
<button id="show-less-user-metrics">View Less</button>
  <thead>
    <tr>
      <th>IP Address</th>
      <th>City</th>
      <th>Country</th>
      <th>Region</th>
      <th>Lat</th>
      <th>Long</th>
      <th>VPN Status</th>
      <th>Proxy Status</th>
      <th>Time on Site</th>
      <th>ISP</th>
      <th>Session ID</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
  </thead>

  <tbody id="first-10-user-metrics">
    <% @users.first(10).each do |user| %>
      <tr>
        <td><%= user.ip_address %></td>
        <td><%= user.ip_city_location %></td>
        <td><%= user.ip_country_location %></td>
        <td><%= user.ip_region_location %></td>
        <td><%= user.latitude %></td>
        <td><%= user.longitude %></td>
        <td><%= user.ip_vpn_status %></td>
        <td><%= user.ip_proxy_status %></td>
        <td><%= user.time_on_site %></td>
        <td><%= user.isp %></td>
        <td><%= user.session_id %></td>
        <td><%= user.created_at %></td>
        <td><%= user.updated_at %></td>
      </tr>
    <% end %>
  </tbody>

  <tbody id="all-user-metrics" hidden>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.ip_address %></td>
        <td><%= user.ip_city_location %></td>
        <td><%= user.ip_country_location %></td>
        <td><%= user.ip_region_location %></td>
        <td><%= user.latitude %></td>
        <td><%= user.longitude %></td>
        <td><%= user.ip_vpn_status %></td>
        <td><%= user.ip_proxy_status %></td>
        <td><%= user.time_on_site %></td>
        <td><%= user.isp %></td>
        <td><%= user.session_id %></td>
        <td><%= user.created_at %></td>
        <td><%= user.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script src="/javascript/user_experience_view_toggle.js"></script>