
<br><div class="divider"></div>

<h3>Modify Asset Info</h3>
<div class="edit-form">
  <form id="editForm_<%= asset.asset_id %>" action="/update_asset_metadata/<%= asset.asset_id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <label for="editTitle_<%= asset.asset_id %>">Title:</label>
    <input type="text" id="editTitle_<%= asset.asset_id %>" name="title" value="<%= asset.title %>">
    <label for="editDirector<%= asset.asset_id %>">Title:</label>
    <input type="text" id="editDirector<%= asset.asset_id %>" name="director" value="<%= asset.directors %>">
    <label for="editDescription_<%= asset.asset_id %>">Description:</label>
    <textarea id="editDescription_<%= asset.asset_id %>" name="description"><%= asset.description %></textarea>
    <label for="editYear_<%= asset.asset_id %>">Year:</label>
    <input type="text" id="editYear_<%= asset.asset_id %>" name="year" value="<%= asset.year %>">
    <label for="editNotes_<%= asset.asset_id %>">Notes:</label>
    <textarea id="editNotes_<%= asset.asset_id %>" name="notes"><%= asset.notes %></textarea>
    <label for="top_pick_<%= asset.asset_id %>">Top Pick:</label>
    <input type="checkbox" id="top_pick_<%= asset.asset_id %>" name="top_pick" <% if asset.top_picks %> checked <% end %>>

    <div class="divider"></div>

    <h4>Update Thumbnail:</h4>
    <%= partial :"partials/admin_panel/asset-metadata-elements/thumbnail-position"%>

    <button type="submit">Save</button>
  </form>
</div>

<div class="divider"></div>

<h3>New Subtitle Track</h3>
<div class="new-track-form">
  <form action="/assets/<%= asset.asset_id %>/add_subtitle_track" method="post" enctype="multipart/form-data">
    <label for="subtitle_track">Subtitle Track File:</label>
    <input type="file" id="subtitle_track" name="subtitle_track" accept=".srt" required><br><br>
    <label for="subtitle_name">Subtitle Name:</label>
    <input type="text" id="subtitle_name" name="subtitle_name"><br><br>
    <label for="language_code">Language Code:</label>
    <select id="language_code" name="language_code">
      <% @language_options.each do |language| %>
        <option value="<%= language[:code] %>"><%= language[:name] %></option>
      <% end %>
    </select><br><br>
    <button type="submit">Add Subtitle Track</button>
  </form>
</div>

<div class="delete-form">
  <form action="/assets/<%= asset.asset_id %>" method="POST" class="delete-form">
    <input type="hidden" name="_method" value="DELETE">
    <button class="delete-button" type="submit">DELETE ASSET</button>
  </form>
</div>