
<div class="asset-info-display">
  <%# <div class="asset_title"></div>
  <div class="asset_director"></div> %>

  <div class="asset_genre">
    <i><%= asset.genre ? eval(asset.genre).join(", ") : asset.genre%></i>
  </div>

  <div class="asset_description">
    <%= asset.description%>
  </div>

  <div class="asset_year"><b>Year:</b> <%= asset.year%> </div>

  <%if admin_logged_in?%>
    <div class="asset_notes"> <b>Notes:</b> <%= asset.notes%> </div>
  <%end%>

  <div class="asset-icon-section">
  
    <div class="asset_duration">
      <img id="time-icon" src="/assets/time-icon.png" alt="duration" width="15" height="15">
      23
      <%= asset.duration %>
    </div>

    <div class="asset_language">
      <img src="/assets/speaker-icon.png" alt="language" width="15" height="15">
      French
      <%= asset.duration %>
    </div>


    <div class="asset_subtitle_names">
      <img src="/assets/captions-icon-1.png" alt="subs" width="15" height="15">
      <%= asset.subtitle_names %>
    </div>

  </div> 

</div> 

<div class="divider"></div>

<style>

  .asset-icon-section {
    display: flex;
    align-items: center;
  }

  .asset-icon-section > div {
    margin-right: 10px;
    margin-bottom: 5px;
  }

</style>